{layout name="layout/layout" /}

<!-- 导航 end -->		<!-- start 主要内容 -->
<div class="content m">
	<!--start 面包屑 -->
	<div class="root-nav">
		<div class="breadcrumb">
			<strong><a href="file:///C:/products/549.html">洗发</a></strong>
		</div>
	</div>
	<!-- 面包屑 end -->
	<div class="main">
		<div class="attrs m">
			
			
			
		</div>
		<!-- start 商品 -->
		<div class="product">
			<div class="product-con">
				<!-- 相关推荐 -->
				<div class="left pull-left">
					<h3><span>相关推荐</span></h3>
					<ul>
						<li>
						<a title="资生堂(SHISEIDO)护理道 水活修护洗发露（受损干枯发质使用)" href="file:///C:/goods/1752.html" class="item-img" target="_blank">
						<img src="./goodslist_files/thumb_20161114044804994_1.jpg" alt="">
						</a>
						<div>
							<a class="omit" title="资生堂(SHISEIDO)护理道 水活修护洗发露（受损干枯发质使用)" href="file:///C:/goods/1752.html" target="_blank">资生堂(SHISEIDO)护理道 水活修护洗发露（受损干枯发质使用)</a>
							<div class="price">
								<span class="redFont">￥196.00</span>
								<span class="grayFont"><s>￥190.00</s></span>
							</div>
						</div>
						</li>
						<li>
						<a title="琴叶彩桐树多效修护洗发露750ml" href="file:///C:/goods/2406.html" class="item-img" target="_blank">
						<img src="./goodslist_files/thumb_57568fbc39387_1.jpg" alt="">
						</a>
						<div>
							<a class="omit" title="琴叶彩桐树多效修护洗发露750ml" href="file:///C:/goods/2406.html" target="_blank">琴叶彩桐树多效修护洗发露750ml</a>
							<div class="price">
								<span class="redFont">￥108.00</span>
								<span class="grayFont"><s>￥138.00</s></span>
							</div>
						</div>
						</li>
						<li>
						<a title="芊彩欧美风.控油平衡洗发露500ml" href="file:///C:/goods/2690.html" class="item-img" target="_blank">
						<img src="./goodslist_files/thumb_55810f4084e51_1.jpg" alt="">
						</a>
						<div>
							<a class="omit" title="芊彩欧美风.控油平衡洗发露500ml" href="file:///C:/goods/2690.html" target="_blank">芊彩欧美风.控油平衡洗发露500ml</a>
							<div class="price">
								<span class="redFont">￥50.00</span>
								<span class="grayFont"><s>￥90.00</s></span>
							</div>
						</div>
						</li>
						<li>
						<a title="新琪奥丽滋养护理系列清爽控油洗发露 " href="file:///C:/goods/2843.html" class="item-img" target="_blank">
						<img src="./goodslist_files/thumb_564ad4ef13c9e.jpg" alt="">
						</a>
						<div>
							<a class="omit" title="新琪奥丽滋养护理系列清爽控油洗发露 " href="file:///C:/goods/2843.html" target="_blank">新琪奥丽滋养护理系列清爽控油洗发露 </a>
							<div class="price">
								<span class="redFont">￥98.00</span>
								<span class="grayFont"><s>￥118.00</s></span>
							</div>
						</div>
						</li>
						<li>
						<a title="我爱美香疗贵族净爽水润洗发露5L" href="file:///C:/goods/2856.html" class="item-img" target="_blank">
						<img src="./goodslist_files/thumb_5760f2e0ac236_1.jpg" alt="">
						</a>
						<div>
							<a class="omit" title="我爱美香疗贵族净爽水润洗发露5L" href="file:///C:/goods/2856.html" target="_blank">我爱美香疗贵族净爽水润洗发露5L</a>
							<div class="price">
								<span class="redFont">￥60.00</span>
								<span class="grayFont"><s>￥130.00</s></span>
							</div>
						</div>
						</li>
						<li>
						<a title="新琪姜汁王营养柔顺洗发露300ml" href="file:///C:/goods/3649.html" class="item-img" target="_blank">
						<img src="./goodslist_files/thumb_564ad942848f8_1.jpg" alt="">
						</a>
						<div>
							<a class="omit" title="新琪姜汁王营养柔顺洗发露300ml" href="file:///C:/goods/3649.html" target="_blank">新琪姜汁王营养柔顺洗发露300ml</a>
							<div class="price">
								<span class="redFont">￥18.00</span>
								<span class="grayFont"><s>￥25.00</s></span>
							</div>
						</div>
						</li>
					</ul>
				</div>
				<!-- 商品列表 -->
				<div class="right pull-right">
					<div class="right-top">
						<div>
							<a href="file:///C:/products/549.html?key=&amp;section=&amp;brandid=0&amp;order=&amp;sort=">综合排序</a>
							<a href="file:///C:/products/549.html?key=&amp;section=&amp;brandid=0&amp;order=1&amp;sort=2" target="_self">销量<i class=""></i></a><a href="file:///C:/products/549.html?key=&amp;section=&amp;brandid=0&amp;order=2&amp;sort=2" target="_self">价格<i class=""></i></a>
						</div>
						<div class="page pull-right">
							<span class="page-now pull-left">
							<b class="redFont">
							<b>1/4</b>页 																				</b>&nbsp;
							</span>
							<a class="next pull-left" href="file:///C:/products/549.html?&amp;page=2" target="_self"><b>&gt;</b></a>
						</div>
					</div>
					<ul class="product-list">
						{foreach $goods_list as $v}
						<li>
						<div class="item-img">
							<a title="{$v.goodsname}" href="{:url('Goods/goods')}?id={$v.id}" target="_blank">
							<img src="{$v.smallpic}" alt="">
							</a>
						</div>
						<div class="info">
							<a class="name" title="{$v.goodsname}" href="file:///C:/goods/6554.html" target="_blank">{$v.goodsname}</a>
							<div class="sales-vol">
								销量：1632
							</div>
							<div class="price">
								<span class="redFont"><b>￥{$v.market_price}</b></span>
								<span class="grayFont">￥{$v.price}</span>
							</div>
						</div>
						</li>
						{/foreach}	
						
					</ul>
					<div class="clearfix">
					</div>
					<div class="page page-bottom">
														 1  
						<a href="file:///C:/products/549.html?&amp;page=2" target="_self">2</a><a href="file:///C:/products/549.html?&amp;page=3" target="_self">3</a><a href="file:///C:/products/549.html?&amp;page=4" target="_self">4</a><a href="file:///C:/products/549.html?&amp;page=2" target="_self">下一页</a><a href="file:///C:/products/549.html?&amp;page=4" target="_self">尾 页</a>
					</div>
				</div>
			</div>
		</div>
		<!-- 商品 end -->
		<div class="clearfix">
		</div>
	</div>
</div>
<!--  主要内容 end--><!-- 保证 -->
<div class="assure grayBg">
	<div class="m">
		<ul>
			<li class="item-1"></li>
			<li class="item-2"></li>
			<li class="item-3"></li>
			<li class="item-4"></li>
		</ul>
	</div>
</div>