<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>妍挈美容商城,脸部护理,纹绣漂唇,身体护理</title>
<meta http-equiv="keywords" content="妍挈美容商城,脸部护理,纹绣漂唇,身体护理"/>
<meta http-equiv="description" content="妍挈美容商城:妍挈美容商城,020电商颠覆传统模式。包括脸部护理,纹绣漂唇,身体护理,服务热线400 800 9139"/>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
<!-- stylesheets -->
<style>
.item-img {
	background: #E6E6E6 url("/static/index/images/20161101033318514.png") no-repeat center;
}
</style>
<link rel="stylesheet" type="text/css" href="/static/index/css/base.css"/>
<link rel="stylesheet" type="text/css" href="/static/index/css/base_1.css"/>
<link rel="stylesheet" type="text/css" href="/static/index/css/base_2.css"/>
<link rel="stylesheet" type="text/css" href="/static/index/css/base_3.css"/>
<link rel="stylesheet" type="text/css" href="/static/index/css/base_4.css"/>
<link rel="stylesheet" type="text/css" href="/static/index/css/index.css"/>
<link rel="stylesheet" type="text/css" href="/static/index/css/myorders.css"/>
<link rel="stylesheet" type="text/css" href="/static/index/css/productdet.css"/>
<link rel="stylesheet" type="text/css" href="/static/index/css/productlist.css"/>
<link rel="stylesheet" type="text/css" href="/static/index/css/productlist_1.css"/>
<link rel="stylesheet" type="text/css" href="/static/index/css/productlist_2.css"/>
<link rel="stylesheet" type="text/css" href="/static/index/css/register.css"/>

<link rel="stylesheet" type="text/css" href="/static/index/css/cart.css">
<link rel="stylesheet" type="text/css" href="/static/index/css/base_cz.css">
<link rel="stylesheet" type="text/css" href="/static/index/css/fillin.css">
<link rel="stylesheet" type="text/css" href="/static/index/css/global.css">



<script type="text/javascript" src="/static/index/js/base_1.js"></script>
<script type="text/javascript" src="/static/index/js/base_2.js"></script>
<script type="text/javascript" src="/static/index/js/base_3.js"></script>
<script type="text/javascript" src="/static/index/js/base_4.js"></script>
<script type="text/javascript" src="/static/index/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/index/js/jquery.min_1.js"></script>
<script type="text/javascript" src="/static/index/js/jquery.min_2.js"></script>
<script type="text/javascript" src="/static/index/js/jquery.min_3.js"></script>
<script type="text/javascript" src="/static/index/js/jquery.min_4.js"></script>
<script type="text/javascript" src="/static/index/js/layer_1.js"></script>
<script type="text/javascript" src="/static/index/js/layer_2.js"></script>
<script type="text/javascript" src="/static/index/js/layer_3.js"></script>
<script type="text/javascript" src="/static/index/js/layer_4.js"></script>
<script type="text/javascript" src="/static/index/js/login.js"></script>
<script type="text/javascript" src="/static/index/js/md5.js"></script>
<script type="text/javascript" src="/static/index/js/md5_1.js"></script>
<script type="text/javascript" src="/static/index/js/pyzoom.js"></script>
<script type="text/javascript" src="/static/index/js/register.js"></script>
<script type="text/javascript" src="/static/index/js/toast.js"></script>
<script type="text/javascript" src="/static/index/js/toast_1.js"></script>

<script src="/static/index/js/jquery.js"></script>
<script src="/static/index/js/jquery-1.8.3.min.js"></script>
<!-- <script src="_/static/index/js/cart1.js"></script> -->
<script src="/static/index/js/cart1.js"></script>
</head>
<body>
<!-- start 顶部 --><!-- start 右边固定工具栏 -->
<div class="toolbar">
	<ul>
		<li><a href="/member.html" class="me"></a><span><a href="/member.html">个人中心</a></span></li>
		<li><a href="/cart.html" class="cart"></a><b class="cartcount">0</b><span><a href="/cart.html">购物车</a></span></li>
		<li><a href="http://kefu.qycn.com/vclient/chat/?websiteid=105003" class="service"></a><span><a href="http://kefu.qycn.com/vclient/chat/?websiteid=105003">客服</a></span></li>
		<li><a href="javascript:scroll(0,0)" class="back-top"></a></li>
	</ul>
</div>
<!-- 右边固定工具栏 end -->
<div class="top">
	<div class="m">
		<ul class="pull-left">
			<li id="logInfo"></li>
			<li class="spacer"></li>
		</ul>
		<ul class="pull-right">
			<li id="signIn">
			<div class="signIn-pop center" id="signIn-pop">
				<div class="signIn-arrow">
				</div>
				<div class="signIn-header redFont">
					<p class="text">
						你还没登录呢
					</p>
				</div>
			</div>
			</li>
			<li class="spacer"></li>
			<li><a href="/cart.html">我的购物车</a></li>
			<li class="spacer"></li>
			<li><a href="/orders.html">我的订单</a></li>
			<li class="spacer"></li>
			<li><a href="/member.html">会员中心</a></li>
		</ul>
	</div>
</div>
<script>
var signin_url="/member/member/signin.html";
</script>
<!-- 顶部 end-->
